<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header::css_js('電化製品編集',~{::link},~{::script})"><!-- th:replace=ページ名::fragment名 -->
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
  <div th:replace="header::header1"></div>
  <main>
    <form th:action="@{/item/update/{id}(id=${id})}" th:object="${item}" method="post">
      <div id="maker_name">
        メーカー名
        <input type="text" name="item_maker_name" th:field="*{item_maker_name}" />
      </div>

      <div id="name">
        商品名
        <input type="text" name="item_name" th:field="*{item_name}" required />
      </div>

      <div id="code">
        商品コード
        <input type="text" name="item_code" th:field="*{item_code}" />
      </div>

      <div id="ampere_number">
        アンペア数
        <input type="number" step="0.1" name="ampere_number" th:field="*{ampere}" />
      </div>

      <div id="watt_number">
        ワット数
        <input type="number" name="watt_number" th:field="*{watt}" />
      </div>

      <button type="submit">
        修正
      </button>
    </form>
    <form th:action="@{/item/delete/{id}(id=${id})}" method="post">
      <button type="submit">
        削除
      </button>
  </main>
</body>

</html>
