<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header::css_js('電化製品登録',~{::link})"><!-- th:replace=ページ名::fragment名 -->
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
  <header th:replace="header::header1"></header>
  <main>
    <form th:action="@{/item/register}" th:object="${item}" method="post">
      <div id="maker_name">
        メーカー&emsp;
        <input type="text" th:name="item_maker_name" autocomplete="off" />
      </div>

      <div id="name">
        商品名&emsp;&emsp;
        <input type="text" th:name="item_name" autocomplete="off" required />
      </div>

      <div id="code">
        商品コード
        <input type="text" th:name="item_code" autocomplete="off" />
      </div>

      <div id="ampere">
        アンペア&emsp;
        <input type="number" step="0.1" th:name="ampere" required />
      </div>

      <div id="watt">
        ワット&emsp;&emsp;
        <input type="number" th:name="watt" required />
      </div>
      <div class="btn_register">
        <button type="submit">
          登録
        </button>
      </div>
    </form>
  </main>
</body>

</html>
