<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header::css_js('電源タップ編集',~{::link},~{::script})"><!-- th:replace=ページ名::fragment名 -->
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
  <div th:replace="header::header1"></div>
  <main>
    <form th:action="@{/powerstrip/update/{id}(id=${id})}" th:object="${powerstrip}" method="post">
      <div id="maker_name">
        メーカー名
        <input type="text" name="ps_maker_name" th:field="*{ps_maker_name}" />
      </div>

      <div id="name">
        商品名
        <input type="text" name="ps_name" th:field="*{ps_name}" required />
      </div>

      <div id="code">
        商品コード
        <input type="text" name="ps_code" th:field="*{ps_code}" />
      </div>

      <div id="outllet_number">
        コンセント数
        <input type="number" name="outllet_number" th:field="*{outllet_number}" />
      </div>

      <div id="watt">
        ワット数
        <input type="number" name="watt" th:field="*{watt}" />
      </div>

      <button type="submit">
        修正
      </button>
    </form>
    <form th:action="@{/powerstrip/delete/{id}(id=${id})}" method="post">
      <button type="submit">
        削除
      </button>
    </form>
  </main>
</body>

</html>
