<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header::css_js('電源タップ編集',~{::link})"><!-- th:replace=ページ名::fragment名 -->
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
  <header th:replace="header::header1"></header>
  <main>
    <form th:action="@{/powerstrip/update/{id}(id=${id})}" th:object="${powerstrip}" method="post">
      <div id="maker_name">
        メーカー&emsp;
        <input type="text" name="ps_maker_name" th:field="*{ps_maker_name}" autocomplete="off" />
      </div>

      <div id="name">
        商品名&emsp;&emsp;
        <input type="text" name="ps_name" th:field="*{ps_name}" autocomplete="off" required />
      </div>

      <div id="code">
        商品コード
        <input type="text" name="ps_code" th:field="*{ps_code}" autocomplete="off" />
      </div>

      <div id="outllet_number" class="update_number">
        コンセント
        <input type="number" name="outllet_number" th:field="*{outllet_number}" required />
      </div>

      <div id="watt" class="update_number">
        ワット&emsp;&emsp;
        <input type="number" name="watt" th:field="*{watt}" required />
      </div>

      <div class="btn_update">
        <button type="submit">
          修正
        </button>
      </div>
    </form>
    <form th:action="@{/powerstrip/delete/{id}(id=${id})}" method="post">
      <div class="btn_delete">
        <button type="submit">
          削除
        </button>
      </div>
    </form>
  </main>
</body>

</html>
