<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header::css_js('電源タップ編集',~{::link})"><!-- th:replace=ページ名::fragment名 -->
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
  <header th:replace="header::header1"></header>
  <main>
    <form th:action="@{/powerstrip/register}" th:object="${powerstrip}" method="post">

      <div id="maker_name">
        メーカー&emsp;
        <input type="text" th:name="ps_maker_name" autocomplete="off" />
      </div>

      <div id="name">
        商品名&emsp;&emsp;
        <input type="text" th:name="ps_name" autocomplete="off" required />
      </div>

      <div id="code">
        商品コード
        <input type="text" th:name="ps_code" autocomplete="off" />
      </div>

      <div id="outllet_number">
        コンセント
        <input type="number" th:name="outllet_number" required />
        <!-- <div class="red" th:errors="エラーだよ"></div> -->
      </div>

      <div id="watt">
        ワット&emsp;&emsp;
        <input type="number" th:name="watt" required />
      </div>

      <div class="btn_register">
        <button type="submit">
          登録
        </button>
      </div>
    </form>
  </main>
</body>

</html>
