body {
  background-color: #FFFF66;
}

button,
select {
  border-radius: 5px;
}

input,
select {
  text-align: center;
}

#powerstrip {
  padding-left: 5%;
  font-size: 20px;
}

#powerstrip input {
  margin-left: 10%;
  border-radius: 5px;
  width: 100px;
}

#item {
  padding-left: 5%;
  font-size: 20px;
}


#btn_calculation,
#btn_after_register {
  width: 50px;
  margin-top: 40px;
  margin-left: 70%;

}

#btn_calculation {
  display: none;
}

#btn_calculation button {
  border: solid;
  border-color: green;
  background-color: #33FF99;
}

#btn_calculation button:hover {
  background: #33DD99;
}

#aftercalculation {
  display: none;
  text-align: center;
}



#btn_after_register button {
  border: solid;
  border-color: blue;
  background-color: #66FFFF;
}

#btn_after_register button:hover {
  background: #66DDFF;
}





/* device.html用 */
#ps_view,
#item_view {
  padding: 0 5%;
}

.type {
  float: left;
}

.register {
  text-align: right;
}

.register button {
  border: solid;
  border-color: blue;
  background-color: #66FFFF;
  margin-top: 21.280px;
}

.register button:hover {
  background: #66DDFF;
}

.btn_edit input {
  border: solid;
  border-color: #444444;
  background-color: #808080;
  color: white;
  width: 50px;
  border-radius: 5px;
}

.btn_edit input:hover {
  background: #606060;
}

th {
  background-color: #444444;
  color: white;
}

td {
  text-align: center;
  background-color: white;
}




/* register.html用 */
#maker_name,
#name,
#code,
#outllet_number,
#watt,
#ampere {
  text-align: center;
}

.btn_register {
  width: 50px;
  margin-top: 40px;
  margin-left: 80%;
}

.btn_register button {
  border: solid;
  border-color: blue;
  background-color: #66FFFF;
}

.btn_register button:hover {
  background-color: #66DDFF;
}




/* edit.html用 */

.btn_update {
  width: 50px;
  margin-top: 40px;
  margin-left: 70%;
}

.btn_delete {
  width: 50px;
  margin-left: 70%;
}

.btn_update button {
  border: solid;
  border-color: #444444;
  background-color: #808080;
  color: white;
}

.btn_update button:hover {
  background-color: #606060;
}

.btn_delete button {
  border: solid;
  border-color: #990000;
  background-color: #FF3300;
  color: white;
}

.btn_delete button:hover {
  background-color: #DD3300;
}


@media(prefers-color-scheme: dark) {
  body {
    background-color: #555555;
    color: #FFF;
  }

  th {
    background-color: #DDDDDD;
    color: #444444;
  }

  td {
    text-align: center;
    background-color: #444;
  }

  select,
  input {
    background-color: #222;
    color: #FFF;
  }

  option {
    background-color: #777;
  }

}
