header {
  background-color: #FFCC00;
  padding: 20px 1rem 1rem 1rem;
  border: 2px dotted;
  border-color: blue;
  margin-bottom: 50px;
}

.AChead {
  display: inline-block;
}

#ACtitle {
  font-weight: bold;
  font-size: 1rem;
  width: 10%;
}

#hoo {
  text-align: right;
  display: inline-block;
  width: 85%;
}

.controll {
  display: inline-block;
  padding-left: 1rem;
}

@media(prefers-color-scheme: dark) {
  header {
    background-color: #CCCCCC;
  }
}
