<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header::css_js('トップ',~{::link})"><!-- th:replace=ページ名::fragment名 -->
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
  <header th:replace="header::header1"></header>
  <main>

    <div id="powerstrip">電源タップ<br>
      <select name="psselect" th:onchange="getON('[[${powerstrips}]]','[[${items}]]')">
        <option value="" selected hidden>選択してください</option>
        <option id="psselect_id" th:each="powerstrip : ${powerstrips}" th:value="${powerstrip.ps_id}">
          [[${powerstrip.ps_maker_name}]] /
          [[${powerstrip.ps_name}]] / [[${powerstrip.ps_code}]]
        </option>
      </select>
      <input type="number" min=0 value=1500 name="watt" required />W
    </div>
    <br>

    <!-- 家電製品選択 -->
    <div id="item">

    </div>
    <br>


    <div id="btn_calculation">
      <button th:onclick="calculation()">
        計算
      </button>
    </div>
    <br><br>

    <!-- 計算ボタンクリック後に表示 -->
    <div id="aftercalculation">
      ただいま
      <a id="usedwatt"></a>
      W 使用中です
      <a id="safety"></a>

      <a id="danger"></a>
      <br><br>

      <!-- 計算後の登録 -->
      <form th:action="@{/}" th:object="${item}" method="post">
        <div id="ChangeToItem">
          <div id="maker_name"></div>
          <div id="name"></div>
          <div id="code"></div>
          <div id="ampere"></div>
          <div id="watt"></div>
          <div id="btn_after_register"></div>
        </div>
      </form>

    </div>
    <br><br><br>


  </main>
  <script src="js/common.js"></script>
</body>

</html>
