<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header::css_js('機器一覧',~{::link})"><!-- th:replace=ページ名::fragment名 -->
  <link th:href="@{/css/common.css}" rel="stylesheet">
</head>

<body>
  <header th:replace="header::header1"></header>

  <main>

    <div id="ps_view">
      <p class="type">
        電源タップ
      </p>
      <p class="register">
        <button onclick="location.href='powerstrip/register'">
          新規登録
        </button>
      </p>
      <table border="2" style="border-collapse: collapse" width=100%>
        <thead>
          <tr>
            <th>メーカー名</th>
            <th>商品名</th>
            <th>商品コード</th>
            <th>コンセント</th>
            <th>ワット</th>
            <th></th>
          </tr>
        </thead>

        <!-- テーブル要素 繰り返し処理予定 -->
        <tbody>
          <tr class="btn_edit" th:each="powerstrip : ${powerstrips}">
            <td>[[${powerstrip.ps_maker_name}]]</td>
            <td>[[${powerstrip.ps_name}]]</td>
            <td>[[${powerstrip.ps_code}]]</td>
            <td>[[${powerstrip.outllet_number}]] 個</td>
            <td>[[${powerstrip.watt}]] W</td>
            <td>
              <input type="button" name="submit"
                th:attr="onclick='location.href=\'powerstrip/edit/'+${powerstrip.ps_id}+'\''" value="修正">
            </td>
        </tbody>

      </table>
    </div>

    <div id="item_view">
      <p class="type">
        電化製品
      </p>
      <p class="register">
        <button onclick="location.href='item/register'">
          新規登録
        </button>
      </p>

      <table border="2" style="border-collapse: collapse" width=100%>
        <thead>
          <tr>
            <th>メーカー名</th>
            <th>商品名</th>
            <th>商品コード</th>
            <th>アンペア</th>
            <th>ワット</th>
            <th></th>
          </tr>
        </thead>

        <!-- テーブル要素 繰り返し処理予定 -->
        <tbody>
          <tr class="btn_edit" th:each="item : ${items}">
            <td>[[${item.item_maker_name}]]</td>
            <td>[[${item.item_name}]]</td>
            <td>[[${item.item_code}]]</td>
            <td>[[${item.ampere}]] A</td>
            <td>[[${item.watt}]] W</td>
            <td>
              <input type="button" name="submit" th:attr="onclick='location.href=\'item/edit/'+${item.item_id}+'\''"
                value="修正">
            </td>
          </tr>
        </tbody>

      </table>
    </div>

  </main>
</body>

</html>
